# sensitive information
# This contains sensitive information and should not be shared publicly.
database.ini


# Data folders
data/
data_full/
temp/

# Development information
# This folder contains development information and should not be shared publicly.
dev_info/

# Debugging and testing vscode
tempCodeRunnerFile.py

# Env
.venv

# Editors
.vscode/
.idea/

# Vagrant
.vagrant/

# Mac/OSX
.DS_Store

# Windows
Thumbs.db

# Source for the following rules: https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
